<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客内容</title>
    <%- include('header', {}); %>
</head>
<style>
     body{
      background-image: url("../img/timg22.jpg");
      background-size: 100%; 
      background-repeat:no-repeat;
    }
    #test1{
        float: right;
    }
    .layui-col-md12{
        opacity: 0.8;
    }
</style>
<body>
    <!-- <div class="layui-fluid"> -->
        <!-- <div class="layui-row"> -->
            <div class="layui-col-md12">
                <!-- 导航栏 -->
                <%- include('nav', {}); %>   
                <!-- 导航栏end -->
                <!-- 文章 -->
                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                            <th>昵称</th>
                            <th>加入时间</th>
                            <th>签名</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>贤心</td>
                            <td>2016-11-29</td>
                            <td>人生就像是一场修行</td>
                            <td>
                                <a href="detail">编辑</a>
                                <a href="">   删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>许闲心</td>
                            <td>2016-11-28</td>
                            <td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
                            <td>
                                <a href="detail">编辑</a>
                                <a href="">   删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 文章end -->
                <!-- 分页 -->
                <div id="test1"></div>
                <!-- 分页end -->
            </div>
        <!-- </div> -->
    <!-- </div> -->
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;

            //…
        });
        //分页
        layui.use('laypage', function () {
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                , count: 50 //数据总数，从服务端得到
            });
        });
    </script>
</body>

</html>