<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章</title>
    <%- include('header', {}); %>
</head>
<style>
    #test1 {
        float: right;
    }
</style>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <div class="layui-col-md12">
                <!-- 导航栏 -->
                <ul class="layui-nav">
                    <li class="layui-nav-item">
                        <a href="">写文章<span class="layui-badge">9</span></a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">个人中心<span class="layui-badge-dot"></span></a>
                    </li>
                    <li class="layui-nav-item">
                        <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">修改信息</a></dd>
                            <dd><a href="javascript:;">安全管理</a></dd>
                            <dd><a href="javascript:;">退了</a></dd>
                        </dl>
                    </li>
                </ul>
                <!-- 导航栏end -->
                <!-- 文章 -->
                <div class="layui-card">
                    <div class="layui-card-header">
                        <h1>卡片面板</h1>
                    </div>
                    <div class="layui-card-body">
                        <b>作者:搜索</b>
                        <b>发布时间:2021-01-22 13:22:03</b>
                        <p>卡片式面板面板通常用于非白色背景色的主体内<br>
                        从而映衬出边框投影</p>
                    </div>
                </div>
                <!-- 文章end -->
            </div>
        </div>
    </div>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function () {
            var element = layui.element;

            //…
        });

    </script>
</body>

</html>