<!DOCTYPE html>
<html>

<head>
  <title>
    <!-- <%= title %> -->
  </title>
    <%- include('header', {}); %>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/libs/layui/css/layui.css" /> -->
  <style>
    body{
      background-image: url("../img/timg2.jpg");
      background-size: 100%; 
            background-repeat:no-repeat;

    }
    .layui-container{
      text-align: center;
    }
    .layui-btn{
      background-color: rgb(61, 160, 253);
      /* width: 18%; */
    }
    .layui-form{
      border-radius: 30px;
      background-color: rgb(248, 248, 248);
      width: 500px;
      height: 300px;
      margin: 160px auto;
      padding-top: 60px;
      opacity: 0.8;
    }
    /* .layui-input, .layui-textarea {
    width: 111%;
  } */
  </style>
</head>

<body>
  <!-- <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>ok</p>
  layui.code -->
  <div class="layui-container">
    <!-- 常规布局（以中型屏幕桌面为例）： -->
    <div class="layui-row">
      <!-- <div class="layui-col-md12"> -->
        <form class="layui-form" method="POST" action="/users/index">
          <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
              <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
            </div>
          </div>
          </div>
          <div class="layui-form-item">
            <div class="layui-inline">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-inline">
              <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
            </div>
          </div>
          </div>                    
          <div class="layui-form-item">
            <!-- <div class="layui-input-inline"> -->
              <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
              <button type="button" class="layui-btn layui-btn-primary" οnclick="javascript:history.go(-1);">返回</button>
            <!-- </div> -->
          </div>
           <div class=""><!--layui-input-block -->
            <a href="register">没有账号，立即注册</a>
          </div>
        </form>
      <!-- </div> -->
    </div>
  </div>
</body>

</html>